/*
#FFAFAF Rosado 
#FBFFE2 Crema
#FFEBCC Peach
#FF9999 Rosado -2 
Estilos intentando mobileFirst
*/
/*
#FFAFAF Rosado 
#FBFFE2 Crema
#FFEBCC Peach
#FF9999 Rosado -2 
*/
/*
SCSS:
Para componentes compartidos :
*Header
*Footer
*/
/*Navigation Bar*/
.navbar {
  font-family: 'Bebas Neue', cursive;
}

.navbar__custom {
  background-color: #FFAFAF;
  color: #FBFFE2;
}

.navbar__linkCustom {
  color: #FBFFE2;
  font-size: 1.3rem;
}

.navbar__logoImg {
  width: 30px;
}

.navbar__rrssLogo {
  color: #FBFFE2;
}

.navbar__rrssSection {
  width: 100%;
}

@media (min-width: 768px) {
  .navbar__rrssSection {
    width: 20%;
  }
}

.navbar__rrssSectionLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FF9999;
  width: 100%;
  padding: 0.5rem 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.footer__logoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  padding-left: 5px;
}

.footer__logoBox a {
  color: #FFEBCC;
  text-decoration: none;
  padding-left: 5px;
}

@media (min-width: 768px) {
  .footer__logoBox a {
    height: 100%;
    font-size: 1rem;
  }
}

.footer__logoImg {
  width: 30px;
}

.footer__rrss {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__rrss a {
  padding-right: 5px;
  padding-left: 5px;
  color: #FFEBCC;
}

@media (min-width: 768px) {
  .footer__rrss a {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1rem;
  }
}

.footer__rrss__Mensaje {
  display: none;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer__rrss__Mensaje {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*
SCSS:
Para componentes para el index.html
*/
.carrusel__imagen {
  width: 100%;
}

@media (min-width: 768px) {
  .carrusel__imagen {
    height: 92vh;
  }
}

.carrusel__caption {
  text-align: left;
  position: absolute;
  bottom: 20%;
  color: #FF9999;
}

@media (min-width: 992px) {
  .carrusel__caption h2 {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  .carrusel__caption p {
    font-size: 3rem;
  }
}

.masPedido {
  background-color: #FFEBCC;
  border-bottom: 2px solid #FF9999;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.masPedido__titulo {
  vertical-align: middle;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  padding-top: 20px;
}

.masPedido__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.masPedido__producto {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.masPedido__productoImagen {
  width: 150px;
  height: 150px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.masPedido__productoImagen:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

@media (min-width: 768px) {
  .masPedido__productoImagen {
    width: 250px;
    height: 250px;
  }
}

.masPedido__productoCaption {
  display: block;
  font-family: 'Bebas Neue', cursive;
  color: #FF9999;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .masPedido__productoCaption {
    font-size: 1.5rem;
  }
}

.tienda {
  background-color: #FFEBCC;
}

.tienda__titulo {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.tienda__productos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tienda__producto {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 150px;
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (min-width: 768px) {
  .tienda__producto {
    width: 250px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

.tienda__producto__card {
  height: 150px;
  width: 150px;
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (min-width: 768px) {
  .tienda__producto__card {
    height: 250px;
    width: 250px;
  }
}

.tienda__producto__card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.tienda__producto__card__front {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFEBCC), to(#FFAFAF));
  background: linear-gradient(#FFEBCC, #FFAFAF);
  z-index: 2;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.tienda__producto__card__front__imagen {
  width: 150px;
  height: 150px;
}

@media (min-width: 768px) {
  .tienda__producto__card__front__imagen {
    width: 250px;
    height: 250px;
  }
}

.tienda__producto__card__back {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  vertical-align: middle;
  position: absolute;
  color: black;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFEBCC), to(#FFAFAF));
  background: linear-gradient(#FFEBCC, #FFAFAF);
  z-index: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.tienda__producto__caption {
  display: block;
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.tienda__contactanos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .tienda__contactanos {
    margin-top: 30px;
    padding-bottom: 20px;
  }
}

.tienda__contactanos__mensaje {
  color: black;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .tienda__contactanos__mensaje {
    font-size: 2rem;
  }
}

.tienda__contactanos__link {
  color: black;
  font-size: 1rem;
  /*se deja con el subrayado en el link para que se vea que hay hipervinculo*/
}

@media (min-width: 768px) {
  .tienda__contactanos__link {
    font-size: 2rem;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  /*para utilizar REM*/
  font-family: 'Bebas Neue', cursive;
}
/*# sourceMappingURL=style.css.map */