/*
#FFAFAF Rosado 
#FBFFE2 Crema
#FFEBCC Peach
#FF9999 Rosado -2 
Estilos intentando mobileFirst
*/
/*
#FFAFAF Rosado 
#FBFFE2 Crema
#FFEBCC Peach
#FF9999 Rosado -2 
*/
/* Mapas */
.producto--Margin, .tienda__producto {
  margin-left: 5px;
  margin-right: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.producto--MarginMediumUp {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
}

/*
SCSS:
Para componentes compartidos :
*Header
*Footer
*/
/*Navigation Bar*/
.navbar {
  font-family: 'Bebas Neue', cursive;
}

.navbar__custom {
  background-color: #FFAFAF;
  color: #FBFFE2;
}

.navbar__linkCustom {
  color: #FBFFE2;
  font-size: 1.3rem;
}

.navbar__logoImg {
  width: 30px;
}

.navbar__rrssLogo {
  color: #FBFFE2;
}

.navbar__rrssSection {
  width: 100%;
}

@media (min-width: 768px) {
  .navbar__rrssSection {
    width: 20%;
  }
}

.navbar__rrssSectionLinks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FF9999;
  width: 100%;
  padding: 0.5rem 5px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
}

.footer__logoBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  width: 50%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 0.8rem;
  padding-left: 5px;
}

.footer__logoBox a {
  color: #FFEBCC;
  text-decoration: none;
  padding-left: 5px;
}

@media (min-width: 768px) {
  .footer__logoBox a {
    height: 100%;
    font-size: 1rem;
  }
}

.footer__logoImg {
  width: 30px;
}

.footer__rrss {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__rrss a {
  padding-right: 5px;
  padding-left: 5px;
  color: #FFEBCC;
}

@media (min-width: 768px) {
  .footer__rrss a {
    padding-right: 10px;
    padding-left: 10px;
    font-size: 1rem;
  }
}

.footer__rrss__Mensaje {
  display: none;
  text-decoration: none;
}

@media (min-width: 768px) {
  .footer__rrss__Mensaje {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

/*
SCSS:
Para componentes para el index.html
*/
.carrusel__imagen {
  width: 100%;
}

@media (min-width: 768px) {
  .carrusel__imagen {
    height: 92vh;
  }
}

.carrusel__caption {
  text-align: left;
  position: absolute;
  bottom: 20%;
  color: #FF9999;
}

@media (min-width: 992px) {
  .carrusel__caption h2 {
    font-size: 5rem;
  }
}

@media (min-width: 992px) {
  .carrusel__caption p {
    font-size: 3rem;
  }
}

.masPedido {
  background-color: #FFEBCC;
  border-bottom: 2px solid #FF9999;
  padding-top: 10px;
  padding-bottom: 10px;
  color: black;
}

.masPedido__titulo {
  vertical-align: middle;
  font-family: 'Bebas Neue', cursive;
  text-align: center;
  padding-top: 20px;
}

.masPedido__productos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  vertical-align: middle;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.masPedido__producto {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 250px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.masPedido__productoImagen {
  width: 150px;
  height: 150px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.masPedido__productoImagen:hover {
  -webkit-transform: scale(1.25);
          transform: scale(1.25);
}

@media (min-width: 768px) {
  .masPedido__productoImagen {
    width: 250px;
    height: 250px;
  }
}

.masPedido__productoCaption {
  display: block;
  font-family: 'Bebas Neue', cursive;
  color: #FF9999;
  font-size: 1rem;
}

@media (min-width: 992px) {
  .masPedido__productoCaption {
    font-size: 1.5rem;
  }
}

.tami {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto;
      grid-template-columns: auto;
  -ms-grid-rows: auto auto auto auto;
      grid-template-rows: auto auto auto auto;
  /*4 filas*/
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: stretch;
      -ms-flex-pack: stretch;
          justify-content: stretch;
      grid-template-areas: "title" "photo" "bio" "quote";
}

@media (min-width: 1200px) {
  .tami {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
    -ms-grid-rows: 10vh 4fr auto;
        grid-template-rows: 10vh 4fr auto;
    /*4 filas*/
        grid-template-areas: "title title title" "photo bio bio" "quote quote quote";
  }
}

.tami__titulo {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title;
  text-align: center;
  font-size: 2rem;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 1200px) {
  .tami__titulo {
    font-size: 3rem;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-bottom: 10px;
  }
}

.tami__photo {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: photo;
  padding-left: 5px;
  padding-right: 5px;
}

@media (min-width: 992px) {
  .tami__photo {
    padding-bottom: 20px;
    padding-bottom: 20px;
  }
}

.tami__photo__imagen {
  width: 100%;
}

.tami__bioText {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: bio;
  height: 100%;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 10px;
  padding-bottom: 10px;
}

@media (min-width: 992px) {
  .tami__bioText {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
    grid-area: bio;
    height: 100%;
  }
}

.tami__quote {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: quote;
  background-color: #FF9999;
  width: 100%;
  font-size: 1.5rem;
  text-align: center;
  vertical-align: middle;
  padding-top: 5px;
  padding-bottom: 5px;
}

@media (min-width: 992px) {
  .tami__quote {
    font-size: 4rem;
    padding-top: 20px;
    padding-bottom: 20px;
  }
}

.card--rosadoFuerte {
  background-color: #FF9999;
}

.card--rosado {
  background-color: #FFAFAF;
}

.card--crema {
  background-color: #FBFFE2;
}

/*Esto genera : 
.card--rosadoFuerte {
  background-color: #FF9999;
}

.card--rosado {
  background-color: #FFAFAF;
}

.card--crema {
  background-color: #FBFFE2;
}
*/
.tienda {
  background-color: #FFEBCC;
}

.tienda__titulo {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.tienda__productos {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tienda__producto {
  vertical-align: top;
  display: inline-block;
  text-align: center;
  width: 150px;
  /*
        margin-left:5px;
        margin-right:5px;
        margin-top:10px;
        margin-bottom:10px;
        */
}

@media (min-width: 768px) {
  .tienda__producto {
    width: 250px;
    /*
            margin-left:20px;
            margin-right:20px;
            margin-top:10px;
            margin-bottom:10px;
            */
  }
}

.tienda__producto__card {
  height: 150px;
  width: 150px;
  position: relative;
  -webkit-transition: all 0.5s linear;
  transition: all 0.5s linear;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

@media (min-width: 768px) {
  .tienda__producto__card {
    height: 250px;
    width: 250px;
  }
}

.tienda__producto__card:hover {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.tienda__producto__card__front {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFEBCC), to(#FFAFAF));
  background: linear-gradient(#FFEBCC, #FFAFAF);
  z-index: 2;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.tienda__producto__card__front__imagen {
  width: 150px;
  height: 150px;
}

@media (min-width: 768px) {
  .tienda__producto__card__front__imagen {
    width: 250px;
    height: 250px;
  }
}

.tienda__producto__card__back {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  vertical-align: middle;
  position: absolute;
  color: black;
  width: 100%;
  height: 90%;
  border-radius: 10px;
  background: -webkit-gradient(linear, left top, left bottom, from(#FFEBCC), to(#FFAFAF));
  background: linear-gradient(#FFEBCC, #FFAFAF);
  z-index: 1;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.tienda__producto__caption {
  display: block;
  color: black;
  font-size: 1rem;
  text-decoration: none;
}

.tienda__contactanos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

@media (min-width: 768px) {
  .tienda__contactanos {
    margin-top: 30px;
    padding-bottom: 20px;
  }
}

.tienda__contactanos__mensaje {
  color: black;
  font-size: 1rem;
}

@media (min-width: 768px) {
  .tienda__contactanos__mensaje {
    font-size: 2rem;
  }
}

.tienda__contactanos__link {
  color: black;
  font-size: 1rem;
  /*se deja con el subrayado en el link para que se vea que hay hipervinculo*/
}

@media (min-width: 768px) {
  .tienda__contactanos__link {
    font-size: 2rem;
  }
}

.contactanos {
  background-color: #FFEBCC;
}

@media (min-width: 992px) {
  .contactanos {
    height: 90vh;
  }
}

.contactanos__titulo {
  margin-top: 30px;
  margin-bottom: 30px;
}

.contactanos__mensaje {
  margin-top: 30px;
  margin-bottom: 30px;
}

.recetas {
  height: auto;
}

@media (min-width: 1200px) {
  .recetas {
    height: 90vh;
  }
}

.recetas__titulo {
  display: block;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}

.recetas__postres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.recetas__postres__postre {
  vertical-align: top;
  display: inline-block;
  width: 600px;
  text-align: center;
  margin: 5px;
}

.recetas__postres__postre__imagen {
  /*
                width:150px;
                height:150px;
                */
  width: 150px;
  height: 150px;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 10px;
  margin-top: 10px;
}

@media (min-width: 768px) {
  .recetas__postres__postre__imagen {
    /*width:250px;
                    height:250px;
                    */
    width: 250px;
    height: 250px;
  }
}

.recetas__postres__postre__texto {
  display: inline-block;
  height: auto;
  text-align: center;
  vertical-align: top;
  margin-bottom: 5px;
  margin-top: 5px;
}

@media (min-width: 768px) {
  .recetas__postres__postre__texto {
    width: 250px;
    height: 250px;
  }
}

.recetas__postres__postre__texto__titulo {
  font-size: 1rem;
  text-align: center;
}

@media (min-width: 768px) {
  .recetas__postres__postre__texto__titulo {
    font-size: 1.5rem;
  }
}

.recetas__postres__postre__texto__descripcion {
  font-size: 0.9rem;
}

@media (min-width: 768px) {
  .recetas__postres__postre__texto__descripcion {
    font-size: 1rem;
  }
}

.recetas__postres__postre__texto__linkText {
  text-align: center;
  font-size: 1rem;
  display: block;
  margin: 5px;
  padding: 0;
  height: 40px;
}

@media (min-width: 768px) {
  .recetas__postres__postre__texto__linkText {
    font-size: 2rem;
  }
}

.recetas__postres__postre__texto__linkVideo {
  text-decoration: none;
  color: #FF9999;
}

.recetas__mensajeFinal {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 16px;
  /*para utilizar REM*/
  font-family: 'Bebas Neue', cursive;
}

body {
  /*background-color: $peach;*/
  background-color: #FFEBCC;
}
/*# sourceMappingURL=style.css.map */