/*
SCSS:
Para componentes compartidos :
*Header
*Footer
*/

/*Navigation Bar*/
.navbar{ 
    font-family: 'Bebas Neue', cursive;
    &__custom{
        background-color:$rosado ;
        color:$crema ;
    }

    &__linkCustom{
        color:$crema ;
        font-size: 1.3rem;
    }
    &__logoImg{
        width:30px;
    }
    &__rrssLogo{
        color:$crema;
    }
    &__rrssSection{
        width:100%;
        @media(min-width:$mediumScreen){
            width:20%;
        }
    }
    &__rrssSectionLinks{
        display:flex;
        justify-content:space-around;
        width:100%;
    }
}

.footer{
    display : flex;
    background-color:$rosadoFuerte;
    width:100%;
    padding:0.5rem 20px;
    justify-content:space-between;
    align-items:center;
    position: absolute;

    &__logoBox{
        display:flex;
        height:100%;
        width:50%;
        align-items:center; 
        font-size:0.8rem;  
        padding-left:10px;
        a{
            color:$peach;
            text-decoration: none;
            padding-left:10px;
            @media(min-width:$mediumScreen){
                height:100%;
                font-size:1rem
            } 
        }
    }
    
    &__logoImg{
        width:30px;
    }
    &__rrss{
        width:30%;
        display:flex;
        justify-content:flex-end;
        align-items:center; 
        a{
        padding-right:5px;
        padding-left:5px;
        color:$peach;
            @media(min-width:$mediumScreen){
                padding-right:10px;
                padding-left:10px;
                font-size:1rem;
            }
        }
        &__Mensaje{
            display:none;
            text-decoration: none;
            @media(min-width:$mediumScreen){
                display:flex;
            }   
        }
    }

    
   

}