/*
#FFAFAF Rosado 
#FBFFE2 Crema
#FFEBCC Peach
#FF9999 Rosado -2 
*/
$smallScreen:576px;
$mediumScreen:768px;
$largeScreen:992px;
$extraLargeScreen:1200px;

$rosado:#FFAFAF;  
$crema:#FBFFE2;
$peach:#FFEBCC;
$rosadoFuerte:#FF9999;