/*
#FFAFAF Rosado 
#FBFFE2 Crema
#FFEBCC Peach
#FF9999 Rosado -2 
Estilos intentando mobileFirst
*/
@import "variables";
@import "shared";
@import "index";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size : 16px; /*para utilizar REM*/
    font-family: 'Bebas Neue', cursive;
   
}




