/* Hoja de estilos para el site */
/*Paleta de colores::
#C85C5C Rojo
#F9975D Naranja
#FBD148 Amarillo
#B2EA70 Verde
*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size : 16px; /*para utilizar REM*/
   
}
/*font para toda la página*/
body{
    font-family: 'Bebas Neue', cursive;
    background-color: #F9975D;
}
/*
.header{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:0.5rem 20px;
    background-color:#C85C5C;
    width:100%;
    border-bottom:2px solid #F9975D;
    height:8vh;

}
*/
/*******NavBar************/
.navbar-custom{ /*Bootstrap*/
    background-color:#C85C5C !important;
    color:#F9975D !important;
}
.nav-link-custom{ /*Bootstrap*/
    color:#F9975D !important;
    font-size: 1.3rem;
}
.header__logoImg{
    width:30px;
    
}
.nav__img-rssSize{
    width:20px;
}

.header__rrss{
    width:15%;
}

.rrss__links{
    display:flex;
    justify-content:space-around;
    width:100%;
}
.header__rrss a { 
    text-decoration: none;/*Quitar los subrayados de links del menú */
    font-size:1.3rem;
    color:#F9975D;  
}
/*******NavBar************/
.footer{
    display : flex;
    background-color:#B2EA70;
    width:100%;
    padding:0.5rem 20px;
    justify-content:space-between;
    align-items:center;
    position: absolute;
    

}
.footer__logoBox{
    display:flex;
    height:100%;
    width:20%;
    align-items:center;
    
}
.footer__logoImg{
    width:30px;


}

.footer__logoBox a{
    color:#F9975D;
    height:100%;
    padding-left:10px;

}
.footer__rrss{
    width:30%;
    display:flex;
    justify-content:flex-end;

    
}

.footer__rrss a{
    padding-right: 10px;
    padding-left:10px;
    color:#F9975D;
}
.carousel-caption{ /*Bootstrap*/
    position:absolute;
    bottom:40%;
    color:#F9975D !important;
}
.carousel-control-prev-icon{ /*Bootstrap*/
    color:#F9975D !important;
}
.carousel-control{ /*Bootstrap*/
    color:#F9975D !important;
}

.carruselImagen--size{
    width:100%;
    height:50vh;
}

.contactanos{
    background:#F9975D;
}

.contactanos__titulo{
    margin-top: 30px;
    margin-bottom: 30px;
}
.contactanos__mensaje{
    margin-top: 30px;
    margin-bottom: 30px;
}
/*Recetas Mobile*/
/*---recetas.html---*/
.recetas{
    background-color: #F9975D;

}
.recetas__descripcionPostre{
    font-size:.9rem;
}
.card-body{
    background:#FBD148; 
}
/* Medium devices (768px and up)*/
@media (min-width: 768px) { 
    .contactanos{
        height:90vh;
    }
    .recetas__descripcionPostre{
        font-size:1rem;
    }
 }
/* Desktop devices (992px and up)*/
@media (min-width: 992px) { 
    .carruselImagen--size{
        width:100%;
        height:92vh;
        
    }
    
 }/*Fin de Desktop devices (992x and up)*/


/* XL Desktop devices (1200px and up)*/
@media (min-width: 1200px) { 

    .recetas{
        background-color: #F9975D;
        height:95vh;
    }

 } /*Fin XL Desktop devices (1200px and up)*/









.masPedido{
    background-color: #FBD148;
    border-bottom:2px solid #F9975D;
    padding-top:10px;
    padding-bottom:10px;
    

}
.masPedido__titulo{
    vertical-align: middle;
    font-family: 'Bebas Neue', cursive;
    font-size:2rem;
    text-align: center;
    padding-top: 20px;
    

}
.masPedido__productos{
    display:flex;
    flex-wrap:wrap;
    vertical-align:middle;
    justify-content: space-around;

}

.masPedido__imagenProducto{
    width:250px;
    height:250px;
}
.masPedido__producto{
    vertical-align:top;
    display:inline-block;
    text-align:center;
    width:250px;
    
    margin-left:20px;
    margin-right:20px;
}
.masPedido__captionProducto{
    display:block;
    font-family: 'Bebas Neue', cursive;
    color:#F9975D;
    font-size:1.5rem;
}



.tami{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 10vh 4fr auto; /*4 filas*/
    justify-items: center;
    align-items: center;
    justify-content: stretch;
    grid-template-areas:
    "title title title"
    "photo bio bio"
    "quote quote quote";
    /*"photo2 photo3 photo4";*/
    background-color: #F9975D;
    margin-bottom:20px;

}

.tami__titulo{
    grid-area:title;
    text-align:center;
    font-size:3rem;
    padding-top:10px;
    padding-bottom:10px;
    padding-bottom:10px;
    

}
.tami__photo{
    grid-area:photo;
    padding-left:20px;
    padding-right:20px;
    
    
}
.tami__bioPic{
    width:100%

}
.tami__bioText{
    grid-area:bio;
    height:100%;
    
    
}
.tami__quote{
    grid-area:quote;
    background-color:#FBD148;
    width:100%;
    font-size:4rem;
    text-align:center;
    vertical-align:middle;
    padding-top:20px;
    padding-bottom:20px;

}
.tami__photo2{
    grid-area:photo2;
    

}
.tami__pictureSmallSize{
    width:350px;
}

.tami__photo3{
    grid-area:photo3;
}
.tami__photo4{
    grid-area:photo4;
}

/* Tienda.html*/

.tienda{
    background-color: #F9975D;
    
}
.tienda__titulo{
    display:block;
    font-family: 'Bebas Neue', cursive;
    font-size:3rem;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
.tienda__productos{
    width:100%; 
    display:flex;
    justify-content: space-around;
    flex-wrap:wrap;
    align-items: center;
}
.tienda__producto{
    vertical-align:top;
    display:inline-block;
    text-align:center;
    width:250px;
    
    margin-left:20px;
    margin-right:20px;
    margin-top:10px;
    margin-bottom:10px;
    

}
/*Agregando animaciones*/
.producto__card{
    height:250px;
    width:250px;
    position:relative;
    transition: all 0.5s linear;
    transform-style:preserve-3d;
}

.productoCard__front{
    justify-content:center;
    align-items:center;
    position:absolute;
    display:flex;
    width:100%;
    height:100%;
    background:linear-gradient(#F9975D,#B2EA70);
    z-index:2;
    backface-visibility:hidden;
}
.productoCard__back{
    justify-content:center;
    align-items:center;
    display:flex;
    flex-flow:column;
    vertical-align: middle;
    position:absolute;
    color:#F9975D;
    width:100%;
    height:90%;
    border-radius:10px;
    background:linear-gradient(#B2EA70,#FBD148);
    z-index:1;
    transform:rotateY(180deg) /*Para que el Back se vea de forma correcta*/
}

.producto__card:hover{ /*Al pasar con el mouse al producto se volteará para ver una descripción*/
    transform:rotateY(180deg);
}
.productoCard__añadirCarrito{
    background-color:#FBD148;
}

.tienda__imagenProducto{
    width:250px;
    height:250px;
}
.tienda__captionProducto{
    display:block;
    font-family: 'Bebas Neue', cursive;
    color:black;
    font-size:1rem;
    text-decoration:none;

}
.tienda__contactanos{
    display:flex;
    justify-content: center;
    margin-top:30px;
    padding-bottom:20px;
    text-align: center;
}
.tienda__contactanosMensaje{
    font-family: 'Bebas Neue', cursive;
    color:black;
    font-size:2rem;
}
.tienda__contactanosLink{
    font-family: 'Bebas Neue', cursive;
    color:black;
    font-size:2rem;
    /*se deja con el subrayado en el link para que se vea que hay hipervinculo*/
   

}

/*--recetas.html--*/

.recetas__titulo{
    display:block;
    font-family: 'Bebas Neue', cursive;
    font-size:3rem;
    padding-top:10px;
    padding-bottom:10px;
    text-align:center;
}
.recetas__postres{
    
    display:flex;
    width:100%;
    flex-wrap:wrap;
    justify-content: space-around;
       
}
.recetas__postre{
    vertical-align:top;
    display:inline-block;
    width:600px;
    
    text-align: center;
    margin:5px;
}
.recetas__imagenPostre{
    width:250px;
    height:250px;
    display:inline-block;
    vertical-align: middle;

    margin-bottom:10px;
    margin-top:10px;
}
.recetas__textoPostre{
    
    display:inline-block;
    width:250px;
    height:250px;
    text-align: center;
    vertical-align:top;   
    font-family: 'Bebas Neue', cursive;
    margin-bottom:5px;
    margin-top:5px;
    
  
}
.recetas__tituloPostre{
    font-family: 'Bebas Neue', cursive;
    font-size:1.5rem;
    text-align:center;
}


.recetas__linkText{
    text-align:center;
    font-size:3rem;
    display: block;
    margin:5px;
    padding:0;   
    height:40px;
    
}

.recetas__linkVideo{
    text-decoration: none;
    
}

.recetas__mensajeFinal{
    text-align:center;
    
    font-size:2rem;
    padding-top:10px;
    padding-bottom:10px;
}


/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 390px) { /* iphone 13 tiene  width de 390px*/
    
    /*Header : */
    .header__rrss{
        display:none; /* no se muestran iconos de rrss porque ya están en el Footer*/

    }

    .nav__menu a { 
        text-decoration: none;/*Quitar los subrayados de links del menú */
        font-size:1rem;
        color:#F9975D;
    }
    .header__links{
        display:flex;   
        align-items:center;
        width:100%   
    }

    /*Footer : */
    .rrss__mensaje{
        display:none;
    }
    .footer__logoBox{
        display:flex;
        height:100%;
        width:50%;
        align-items:center;   
    }
    .footer__logoBox a {
        font-size:0.8rem;
    }

    /******index.html *********/
    /*---Carrusel de Imagenes---*/
    .carruselImagenes_texto{
        position: absolute;
        top:40%;
        left:5%;
        font-size:2rem;
        color:#F9975D;
    }
    .carruselImagenes{
        background-color:#F9975D;
        height:50vh;
      
    }


    /*---Mas Pedido---*/
  
    .masPedido__titulo{
        vertical-align: middle;
        font-family: 'Bebas Neue', cursive;
        font-size:1.5rem;
        text-align: center;
        padding-top: 10px;
    }
    .masPedido__imagenProducto{
        width:150px;
        height:150px;
    }
    .masPedido__producto{
        width:150px;
        margin-left:5px;
        margin-right:5px;
    }
    .masPedido__captionProducto{
        font-size:1rem;
        padding-bottom:15px;
    }


    /******Tami.html *********/

    .tami{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto; /*4 filas*/
        justify-items: center;
        align-items: center;

        grid-template-areas:
        "title"
        "photo"
        "bio"
        "quote";
        /*"photo2"
        "photo3" 
        "photo4";*/
        background-color: #F9975D;
        
    
    }
    .tami__titulo{
        grid-area:title;
        text-align:center;
        font-size:2rem;
        padding-top:5px;
        padding-bottom:5px;
        
        
    
    }
    .tami__photo{
        grid-area:photo;
        padding-left:5px;
        padding-right:5px;
        
        
    }

    .tami__quote{
        grid-area:quote;
        background-color:#FBD148;
        width:100%;
        font-size:1.5rem;
        text-align:center;
        vertical-align:middle;
        padding-top:5px;
        padding-bottom:5px;
    
    }
    .tami__bioText{
        grid-area:bio;
        height:100%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom:10px;
    }
    .tami__pictureSmallSize{
        width:70%;

    }
    .tami__photo2{
        grid-area:photo2;
        text-align: center;
        padding-top:10px;
    }
    
    .tami__photo3{
        grid-area:photo3;
        text-align: center;
        padding-top:10px;
    }
    .tami__photo4{
        grid-area:photo4;
        text-align: center;
        padding-top:10px;
    }
     /******Tienda.html *********/
    
     .tienda__imagenProducto{
        width:150px;
        height:150px;
    
    }
    .tienda__producto{
        vertical-align:top;
        display:inline-block;
        text-align:center;
        width:150px;
        
        margin-left:5px;
        margin-right:5px;
        margin-top:5px;
        margin-bottom:10px;
    }
    .tienda__captionProducto{
        font-size:0.8rem;
        text-decoration:none;
    
    }
    .tienda__contactanos{
        display:flex;
        justify-content: center;
        margin-top:10px;
        padding-bottom:10px;
        text-align: center;
    }
    .tienda__contactanosMensaje{
        font-size:1rem;
    }
    .tienda__contactanosLink{
        font-size:1rem;
        /*se deja con el subrayado en el link para que se vea que hay hipervinculo*/    
    }
    .producto__card{
        height:150px;
        width:150px;
        position:relative;
        transition: all 0.5s linear;
        transform-style:preserve-3d;
    }
    
    .productoCard__front{
        justify-content:center;
        align-items:center;
        position:absolute;
        display:flex;
        width:100%;
        height:100%;
        background:linear-gradient(#F9975D,#B2EA70);
        z-index:2;
        backface-visibility:hidden;
    }
    .productoCard__back{
        justify-content:center;
        align-items:center;
        display:flex;
        flex-flow:column;
        vertical-align: middle;
        position:absolute;
        color:#F9975D;
        width:100%;
        height:90%;
        border-radius:10px;
        background:linear-gradient(#B2EA70,#FBD148);
        z-index:1;
        transform:rotateY(180deg) /*Para que el Back se vea de forma correcta*/
    }
    .producto__card:hover { /*Al pasar con el mouse al producto se volteará para ver una descripción*/
        transform:rotateY(180deg);
    }
    /*---recetas.html---*/
   

    .recetas__titulo{
        font-size:1.5rem;

    }
    .recetas__imagenPostre{
        width:150px;
        height:150px;
        
    }
    .recetas__postres{
        
        display:flex;
        flex-wrap:wrap;
           
    }
    .recetas__postre{
        
        margin:5px;
    }

    .recetas__textoPostre{
        margin-bottom:5px;
        margin-top:5px;
        height:auto;
      
    }
    .recetas__tituloPostre{
        font-size:1rem;
    }
    
    
    .recetas__linkText{
        font-size:2rem;
        margin:5px;
        padding:0;   
        
    }
    
    .recetas__linkVideo{
        font-size:1rem;
        text-decoration: none;
    }
    
    .recetas__mensajeFinal{
        font-size:1.5rem;
        padding-top:10px;
        padding-bottom:10px;
    }

}
  /*FIN Smartphones (portrait) ----------- */



@media only screen and (min-width : 390px) and (max-width : 1024px) {

    
    /*Header : */
    .header__rrss{
        display:none; /* no se muestran iconos de rrss porque ya están en el Footer*/

    }

    .nav__menu a { 
        text-decoration: none;/*Quitar los subrayados de links del menú */
        font-size:1rem;
        color:#F9975D;
    }
    .header__links{
        display:flex;   
        align-items:center;
        width:100%   
    }

    /*Footer : */
    .rrss__mensaje{
        display:none;
    }
    .footer__logoBox{
        display:flex;
        height:100%;
        width:50%;
        align-items:center;   
    }
    .footer__logoBox a {
        font-size:0.8rem;
    }
      /*--contactanos.html*/

    .tami{
        display:grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto auto auto; /*4 filas*/
        justify-items: center;
        align-items: center;

        grid-template-areas:
        "title"
        "photo"
        "bio"
        "quote";
        /*"photo2"
        "photo3" 
        "photo4";*/
        background-color: #F9975D;
        
    
    }
    .tami__titulo{
        grid-area:title;
        text-align:center;
        font-size:2rem;
        padding-top:5px;
        padding-bottom:5px;
        
        
    
    }
    .tami__photo{
        grid-area:photo;
        padding-left:5px;
        padding-right:5px;
        
        
    }

    .tami__quote{
        grid-area:quote;
        background-color:#FBD148;
        width:100%;
        font-size:1.5rem;
        text-align:center;
        vertical-align:middle;
        padding-top:5px;
        padding-bottom:5px;
    
    }
    .tami__bioText{
        grid-area:bio;
        height:100%;
        padding-left: 5px;
        padding-right: 5px;
        padding-top: 10px;
        padding-bottom:10px;
    }
    .tami__pictureSmallSize{
        width:70%;

    }
    .tami__photo2{
        grid-area:photo2;
        text-align: center;
        padding-top:10px;
    }
    
    .tami__photo3{
        grid-area:photo3;
        text-align: center;
        padding-top:10px;
    }
    .tami__photo4{
        grid-area:photo4;
        text-align: center;
        padding-top:10px;
    }



    /*---recetas.html---*/
    

    .recetas__titulo{
        font-size:1.5rem;

    }
    .recetas__imagenPostre{
        width:150px;
        height:150px;
        
    }
    .recetas__postres{
        
        display:flex;
        flex-wrap:wrap;
           
    }
    .recetas__postre{
        
        margin:5px;
    }

    .recetas__textoPostre{
        margin-bottom:5px;
        margin-top:5px;
        height:auto;
      
    }
    .recetas__tituloPostre{
        font-size:1rem;
    }
    
    
    .recetas__linkText{
        font-size:1rem;
        margin:5px;
        padding:0;   
        
    }
    
    .recetas__linkVideo{
        font-size:1rem;
    }
    
    .recetas__mensajeFinal{
        font-size:1.5rem;
        padding-top:10px;
        padding-bottom:10px;
    }
    .producto__card{
        height:150px;
        width:150px;
        position:relative;
        transition: all 0.5s linear;
        transform-style:preserve-3d;
    }
    
    .productoCard__front{
        justify-content:center;
        align-items:center;
        position:absolute;
        display:flex;
        width:100%;
        height:100%;
        background:linear-gradient(#F9975D,#B2EA70);
        z-index:2;
        backface-visibility:hidden;
    }
    .productoCard__back{
        justify-content:center;
        align-items:center;
        display:flex;
        flex-flow:column;
        vertical-align: middle;
        position:absolute;
        color:#F9975D;
        width:100%;
        height:90%;
        border-radius:10px;
        background:linear-gradient(#B2EA70,#FBD148);
        z-index:1;
        transform:rotateY(180deg) /*Para que el Back se vea de forma correcta*/
    }
    .producto__card:hover { /*Al pasar con el mouse al producto se volteará para ver una descripción*/
        transform:rotateY(180deg);
    }

}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}

